<div class="container body-wrapper">
  <div class="row">
    <div class="about_top">
      <h1>ようこそ！Otolinkへ！</h1>
    </div>
    <div class="about_title">
      <h3>Otolinkとは</h3>
    </div class="about_body">
      <p>
        「ミュージシャンとバンドを繋ぐサービス」です。<br>
        「メンバー募集」あるいは「バンド募集」の記事を投稿しましょう。<br>
        <br>
        検索フォームから希望の条件で記事の検索ができるので、<br>
        あなたにぴったりのメンバー・バンドを見つけましょう!<br>
        <br>
        お気に入りの記事を見つけたら、DM(ダイレクトメッセージ)を使って,<br>
        記事を投稿したユーザーとコンタクトを取ってみましょう！<br>
      </p>
    </div>
    <div class="about_title">
      <h4>「開発者からOtolinkについて」</h4>
    </div>
    <div class="about_body">
      <p>
        --- 最新リリース ---<br>
        ■ Otolink Rev.1.0 について<br>
        2020/10/25 リリース<br>
        "基本機能"<br>
        ・ユーザ管理機能(管理者機能)<br>
        ・記事投稿機能<br>
        ・検索機能<br>
        ・DM機能<br>
      </p>
      <p>
        --- 今後のリリース予定 ---<br>
        ■ Otolink Rev 2.0 について<br>
        "追加予定機能"<br>
        ・ユーザーのお気に入り機能<br>
        ・DM機能の着信通知機能<br>
        ・デモ音源及び動画配信サイトのリンク付け機能<br>
        ・イベント企画者やライブハウス運営者などの音楽業界関係者ロール作成<br>
        ・音楽業界関係者による記事投稿機能<br>
        ・ライブハウス、リハーサル/レコーディングスタジオ情報の投稿機能<br>
        ・音楽関係者ロールの記事に対してユーザーからのコメント機能
      </p>
    </div>
  </div>
</div>