/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
  width: 100%;
  padding: 70px 0 5% 0;
  font-family: 'Awesome Font', sans-serif;
  background-image: image-url("back_img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* ヘッダーレイアウト */
/*header {
  height: 5%;
  width: 100%;
}*/

/* メインレイアウト */
/*main {
  height: 100%;
  width: 100%;
}*/

/* 各ページ用wrapper */
.page-wrapper {
  width: 95%;
  height: 100%;
  min-height: 800px;
  background: #ffffff;
  margin: auto;
  /*position: relative;*/
}

/* サインアップページ用wrapper */
/*.signup-wrapper */
.signup-wrapper {
  width: 95%;
  height: 100%;
  background: #ffffff;
  margin: 3% auto 0 auto;
  /*position: relative;*/
}

/* ログインページ用wrapper */
/* form-wrapperとして下部で定義 */
.login-wrapper {
  width: 60%;
  height: 100%;
  background: #ffffff;
  margin: 5% auto;
  /*position: relative;*/
  text-align: center;
}

/* フッターレイアウト */
/* 常に最下部に固定 */
footer {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 0;
  bottom: 0;
  background-color: #333333;
  position: absolute;
}

footer p {
  color: #9d9d9d;
  margin: auto;
}

/* topページ画像 */
.top__img {
  width: 100%;
  margin: 10px auto 20px auto;
}

/* topページ内リンク */
.top__link {
  color: black;
}

/* 各ページタイトル */
.page_title {
  background-color: #333333;
  color:#ffffff;
  text-align: center;
}

/* プロフィール画像中央表示 */
.text-center {
  text-align: center;
  margin: auto;
  padding: 2%;
}

/* プロフィール編集プロパティ */
/* 画像プレビュー */
#img_prev {
  border-radius: 50%;
  width:200px;
  height:200px;
}

/* デフォルトボタン非表示 */
.item_image_btn{
  display: none;
}

/* インプットボタンプロパティ */
/* bootstrap採用のためコメントアウト */
/*#img_field {
font-size: 25px;
font-style: inherit;
margin: 0 auto;
color: white;
background-color: #5bc0de;
border-radius: 5px;
width: 300px;
height: 40px;
text-align: center;
line-height: 40px;
}*/

/* bootstrap ボタンプロパティ */
.bs_btn {
  margin-bottom: 20px;
}

.bs_btn_wide {
  width: 100%;
  margin: 10px 0;
}

/* タブ表示プロパティ */
.tab-wrap{
  /*width: 90%;*/
  /*max-width: 800px;*/
  margin: 20px 0;
}

.clearfix:after{
  content:"";
  clear: both;
  display: block;
}

#tab-menu li {
  float: left;
  list-style-type: none;
  width: 50%;
}
#tab-menu p {
  font-weight: bolder;
  border-bottom: solid 1px;
  font-size: 120%;
}

#tab-menu a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: #333333;
  border: 1px solid #333333;
  border-bottom: none;
}

#tab-menu .active {
  background: #fff;
  color: #000000;
}

#tab-contents .tab {
  padding: 30px;
  background: #fff;
  border: 1px solid #333333;
  border-top: none;
}

#tab-contents p{
  color:#000000;
  line-height: 2.5;
}

/* ユーザーログイン画面 */
/*
.form-wrapper {
  height: 100%;
  background: #ffffff;
  margin: auto;
  padding: 0 2%;
  max-width: 370px;
  border: solid 1px #000000;
  position: relative;
}

.form {
}
*/
.form-item {
  margin-bottom: 5%;
  width: 100%;
}

.form-item-input {
  width: 100%;
  text-align: center;
}

.button-panel {
  width: 60%;
  text-align: center;
  margin: auto;
}

.form-footer {
  padding: 2% 0;
  text-align: center;
}


/* 退会確認ページ */
.withdrawl {
  text-align: center;
}

/* DM機能 form */
.dm_form {
  margin-bottom: 20px;
}

/* 通知アイコン */
.n-stack{
  padding: 0px;
  margin: 0px;
}

.n-envelope {
  font-size: 1em;
  padding: 0px;
  margin: 0px;
  position: relative;
}

.n-circle {
  font-size: 0.5em;
  color: #efa04c;
  padding-left: 1em;
  padding-top: 0em;
  position: absolute;
}

/* aboutページ */
/*.about-img {}*/

.image-trim {
  max-width: 100%;
  padding: 20px;
}

.about-top {
  text-align: center;
  line-height: 2;
  margin-top: 30px;
  margin-bottom: 30px;
}

.about-section {
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

.about-innner {
  text-align: center;
  line-height: 2;
}

.about-innner h2 {
  padding-bottom: 10px;
}

.about-bottom {
  padding-top: 50px;
  padding-bottom: 80px;
  text-align: center;
}

/* 検索ページ */
/* user search 名前検索欄 */
.name_field {
  margin: 10px;
  width: 60%;
  text-align: center;
  line-height:30px;
}

/* 検索ページ アコーディオンプロパティ */
#acMenu dt {
  display:block;
  /*width:200px;*/
  width:100%;
  height:50px;
  background:#333333;
  color: #ffffff;
  line-height:50px;
  text-align:center;
  border:#666 1px solid;
  cursor:pointer;
  margin: 10px auto 0 auto;
}

#acMenu dd {  
  width: 100%;
  height: 100%;
  line-height:50px;
  text-align:center;
  border:#666 1px solid;
  display:none;
}

/* ヘッダーのメディアクエリ指定 */
/* 1058→767 */
@media (max-width: 767px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;

  }
  .collapse.in{
      display:block !important;
  }
}
